h1{
    color: rgb(236, 214, 203);
    font-size: 70px;
    margin: auto;
    margin-block-end: 0.67em;
    margin-block-start: 0.67em;
    text-align: center;
}

a:link{
    color: #AC3B61;
    text-decoration: underline;
}
a:visited{
    color: #AC3B61;
    text-decoration: none;
}

h2{
    color: #AC3B61;
    font-size: 30px;
}

h3{
    color: #123C69;
    font-size: 20px;
}

li{
    color: #123C69;
    margin: 10px;
}
ul{
    margin: 0px;
}

img{
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}

html{
    height: 100%;
}

p{
    color: #808080;
}

#info-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

#bottom{
    animation: fadein_one 6s;
    position: fixed; 
    bottom: 5px; 
    left: 50%; 
    margin-left: -100px;
}

#info-box{
    text-align: left;
    display: inline-block;
    padding-left: 1vw;
    padding-right: 1vw;
    animation: fadein_one 6s;
}

#title{
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

#copyright{
    position: fixed; 
    bottom: 5px;
    color: whitesmoke;
}

#notable{
    margin-bottom: 0.1em;
}
/*Animation content*/

@keyframes fadein_one {
    0% { opacity: 0; }
    50%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadein_two {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.popup_button {
    cursor: pointer;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.popup_box {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    animation: fadein_two 0.5s;
}

.popup_content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.close_button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close_button:hover,
.close_button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.lead_graphic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.content {
    width: 70%;
    height: 100%;
    margin: auto;
}

.article_title {
    text-align: center;
}

.article_body {
    text-align: justify;
}

@media screen and (max-width: 950px){
    #info-box{width: 80%;}
    #info-box-container{flex-direction: column;}
    #copyright{top: 5px; right: 5px; position: relative;}
    #bottom{padding-top: 10px; position: relative; width: 220px;}
}

@media screen and (max-width: 480px){
    h1{display: none;}
}

@media screen and (max-height: 500px){
    #bottom{padding-top: 10px; position: relative; width: 220px;}
    #copyright{position: relative;}
}

body{
    font-family: 'Inconsolata', monospace;
    background-color: #EEE2DC;
}